html,
body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #161616;
  /* font-size: 18px; */
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Cascadia.ttf");
  font-display: swap;
}

* {
  font-family: "Rubik";
}

p {
  line-height: 1.5;
  color: #cccccc;
}

header {
  max-width: 80vw;
  height: 5vh;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 90vw;
  margin: 5em auto;
  background-color: #161616;
}

.dots {
  display: flex;
  gap: 10px;
  margin-top: 3em;
  cursor: pointer;
  transform: translateY(-250%);
}

.dot {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

.dot:first-of-type {
  background-color: #009900;
}

.dot:nth-of-type(2) {
  background-color: orange;
}

@media only screen and (min-width: 700px) {
  main {
    width: 50vw;
    border: 1px solid #cccccc2f;
    padding: 12px 25px;
    border-radius: 10px;
  }
}

nav a {
  text-decoration: none;
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

h1 {
  color: #cccccc;
  font-weight: normal;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  margin-bottom: 1.8em;
  /* background-color: red; */
}

a {
  color: #009900;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}
h4 {
  font-weight: normal;
  margin-top: 3em;
  color: #ffffff;
}

li {
  color: #cccccc;
  line-height: 1.5;
}

summary {
  margin-bottom: 3em;
  color: #cccccc;
}

.social-links {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}

